{% extends "base.html" %}
{% load static %}

<!-- HEAD DE LA PLANTILLA -->

{% block title %} Home {% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'proyecto_servicios_app/css/servicios.css' %}">

{% endblock %}

<!-- BODY DE LA PLANTILLA -->

{% block content %}

  {% for servicio in servicios_app %}

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="servicios__imagen intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ servicio.imagen.url }}" alt="{{ servicio.titulo }}"/>
          <div class="servicios__info intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-lower">{{ servicio.titulo }}</span>
            </h2>
            <p class="mb-3">{{ servicio.contenido }}</p>
          </div>
        </div>
      </div>
    </section>
    <br/>
    <hr class='separacion__servicios bg-white font-weight-bold w-75'>
    
  {% endfor %}


{% endblock %}

{% block scripts %}{% endblock %}