body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, black, red);
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.header img {
  height: 50px;
  margin-right: 20px;
}

.header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.contenido-principal {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, darkmagenta, mediumseagreen);
  font-family: "Courier New", Courier, monospace;
  border-top: 2px dashed gray;
}
